*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
nav{
    display: flex;
    background-color: white;
    width: 100%;
    margin: 0 auto;
}
nav ul{
    list-style-type: none;
    text-align: center;

}
nav li{
    list-style-type: none;
    padding: 10px;
    width: 33%;
    text-align: center;

}
nav a{
    text-decoration: none;
    text-align: center;
    color: #0071BC;
}


nav a:hover{
    color: green;
    border-bottom: 2px solid #0071BC;

}
section{
    display: flex;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
    width: 80%;
    

}
h1{
    text-align: center;
    color: #0071BC;
    background-color: whitesmoke;
}
h2{
    padding: 10px;
}
h2:hover{
    color: #0071BC;
    border-top: black;
}
h1:hover{
    color: #5D5D5D;
    border-bottom: #0071BC;
}
article{
    padding: 10px;
}
section p{
    border-top: #0071BC;
}
article:hover{
    color: #000;
    border-bottom: 2px solid #0071BC;
}form {
    width: 400px;
    padding: 1em;
    border-radius: 1em;
    color: white;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}
table{
    border-collapse: collapse;
    color: white;
}
th {
    border: 1px solid white;
    padding: 10px;
}
tr{
    border: 1px solid white;
    padding: 10px;

}
td{
    border: 1px solid white;
    padding: 10px;

}
footer{
    display: flex;
    background-color: #5D5D5D;
    border: 1px whitesmoke;
    color: white;
    text-align: justify;
    

}
div{
    margin: 0 auto;
    text-align: center;
    flex-wrap: nowrap;
}
div::first-line{
    color: yellowgreen;
}
article::first-line{
    color: blue;
}
section img{
    width: 30px;
    height: 30px;
    position: sticky;
    top: 5px;
}

    
    

